.cover:hover {
  fill: rgba(255,255,255,0.5);
}

.cover{
  fill:rgba(0,0,0,0);
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position:fixed;
    top:0px;
    right:0px;
    font-family:Sans-serif;
    z-index:91;
}

li.nav {
    float: left;
}

a.nav:link, a.nav:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: orange;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a.nav:hover, a.nav:active {
    background-color: #FFC766;
}

.titlebar{
  height:150px;
  position:absolute;
  left:0px;
  top:0px;
  background-image:url('physics.jpg');
  background-color:white;
  width:100%;
}

.middlebar{
  position:absolute;
  bottom:0px;
  width:100%;
  left:0px;
  background:rgba(255,255,255,0.8);
}

.title{
  margin-left:20%;
  margin-right:auto;
  text-align:center;
  width:200px;
  background:rgba(255,255,255,0.5);
  font-size:300%;
  color:orange;
}

.content{
  margin-left:auto;
  margin-right:auto;
  position:relative;
  top:150px;
  background-color:white;
  width:75%;
  border-radius:50px;
  padding:50px;
}

body{
  font-family:Sans-serif;
  background:#FFCC77;
}